<div *ngIf="produits.length != 0; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col"></th>
            <th scope="col">Référence</th>
            <th scope="col">Désignation</th>
            <th scope="col">Prix</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let produit of produits; index as id">
            <td>
                <img class="img-thumbnail" style="max-height:6rem;" [src]="'assets/images/' + produit.img" alt="image du produit" />
            </td>
            <td class="align-middle">{{produit.ref}}</td>
            <td class="align-middle">{{produit.designation}}</td>
            <td class="align-middle text-right">{{produit.prix|currency:'EUR':'symbol':undefined:'fr-FR'}}</td>
            <th class="align-middle">
                <button class="btn btn-danger"><span class="material-icons align-middle">remove_shopping_cart</span>Retirer</button>
            </th>
            </tr>
        </tbody>
    </table>
</ng-template>
<ng-template #elseBlock><p>Votre panier est vide.</p></ng-template>

