<div class="card mb-4">
    <div class="card-header">
        <strong class="card-title">{{produit.designation}}</strong>
    </div>
    <img class="card-img-top" [src]="'assets/images/' + produit.img" alt="Card image cap" />
    <div class="card-body" *ngIf="produit.description != null">
        <p class="card-text">{{produit.description}}</p>
    </div>
    <div class="card-footer text-center">
        <p>Prix: {{produit.prix|currency:'EUR':'symbol':undefined:'fr-FR'}}</p>        <p class="card-text">{{produit.description}}</p>
        <button class="btn btn-primary" (click)="ajouterAuPanier(produit);"><span class="material-icons align-middle">add_shopping_cart</span>Ajouter au panier</button>
    </div>
</div>
