<h2>Liste des produits</h2>
<div class="row">
    <div class="offset-1 col-10 offset-md-0 col-md-6 col-xl-4" *ngFor="let produit of produits; index as id">
        <app-carte-produit [produit]="produit"></app-carte-produit>
    </div>
</div>
